
<mat-card>
  <mat-card-title class="d-flex align-items-center p-2 fontsection">
    {{"OPERATION.TITLES.RECEIVEDATA" | translate}}
    <mat-icon class="text-primary mx-5" style="font-size:30px ;">cloud_download</mat-icon>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-10">

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> سحب البيانات</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getBranchData()" [disabled]="buttons.btnBranch">Branch</button>
    </div>

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> سحب البيانات</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getAreaData()" [disabled]="buttons.btnArea">Area</button>
    </div>

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> سحب البيانات</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getBlockData()" [disabled]="buttons.btnBlock">Block</button>
    </div>

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> سحب البيانات</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getIssueData()" [disabled]="buttons.btnIssue">Issue</button>
    </div>

  <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> سحب البيانات</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getCustomerData()" [disabled]="buttons.btnCustomer">Customer</button>
    </div>
  </mat-card-content>

</mat-card>