
<mat-card>
  <mat-card-title class="d-flex align-items-center p-2 fontsection">
    {{"OPERATION.TITLES.RECEIVEDATA" | translate}}
    <mat-icon class="text-primary mx-5" style="font-size:30px ;">cloud_download</mat-icon>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-10">

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> البيانات الجغرافية</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getGeographicData()" [disabled]="buttons.btnGeographic">سحب</button>
    </div>

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> بيانات المحصلين</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getEmployeeData()" [disabled]="buttons.btnEmployee">سحب</button>
    </div>

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> بيانات العملاء</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getCustomerData()" [disabled]="buttons.btnCustomer">سحب</button>
    </div>

    <div class="col-md-4 fs-1 p-2">
      <!-- <span> {{"OPERATION.TITLES.RECEIVEDATA" | translate}}</span> -->
      <span> بيانات الاصدارات</span>
      <button mat-raised-button color="primary" class="mt-2" (click)="getIssueData()" [disabled]="buttons.btnIssue">سحب</button>
    </div>

  </mat-card-content>

</mat-card>