<section id="company_list" class="mt-5">

	<div class="row">

		<div class="col-md-12">


			<mat-accordion>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
					<mat-expansion-panel-header
						[ngClass]="{'bg-danger':panelOpenState==true ,'heiglightRowClass' : company.isActive == true}">
						<mat-panel-title>

							<img [src]="company.logoWeb" class="rounded" width="40" height="40">


							<div style="width:100%" class="text-center"
								[ngStyle]="{'color':panelOpenState==true ? 'white':'black'}">

								<span class="fontForInputs" style="font-weight:bold ;">
									بيانات الشركة :
								</span>

								<span class="fontForInputs mx-5">
									{{company.companyName}}
								</span>

								<span class="fontForInputs" style="font-weight:bold ;">
									الكود :
								</span>

								<span class="fontForInputs">
									{{company.code}}
								</span>
								<!--<div class="mx-10">
									<div *ngIf="company.isActive==true; else xcross;">
										<i class="fa fa-check" aria-hidden="true"></i>

									</div>

									<ng-template #xcross>
										<i class="fa fa-xmark" aria-hidden="true"></i>
									</ng-template>
								</div>-->


							</div>

						</mat-panel-title>
					</mat-expansion-panel-header>


					<div class="row p-5">


						<div class="col-md-12">

							<div class="row">

								<div class="col-md-4">

									<div class="card bg-dark" style="width:250px">
										<img class="card-img-top" [src]="company.logoWeb" width="80" height="80"
											alt="Card image">
										<div class="card-body">

											<div class="row">

												<div class="col-md-12 mt-2">

													<span class="text-light">
														<label class="fontForInputs">{{'HR.INPUTS.LOGOWEB' | translate}}
														</label>
														<input type="file" class="mx-2 col-md-6"
															(change)="logoWebChange($event)" placeholder="Placeholder"
															name="logoWeb">
													</span>

												</div>
											</div>

										</div>
									</div>

									<div class="card bg-dark mt-2" style="width:250px">
										<img class="card-img-top" [src]="company.logoPrint" width="80" height="80"
											alt="Card image">
										<div class="card-body">

											<div class="row">

												<div class="col-md-12">
													<span class="text-light">
														<label class="fontForInputs">{{'HR.INPUTS.LOGOPRINT' |
															translate}} </label>
														<input type="file" class="mx-2 col-md-6"
															(change)="logoPrintChange($event)" placeholder="Placeholder"
															name="logoPrint">
													</span>

												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="col-md-8 fontForInputs">

									<div class="row">
										<div class="d-flex align-items-start justify-content-end">

											<button class="btn btn-primary col-md-3 mx-1" (click)="openDialog(company.id)">
												<span class="fontForInputs">
													تعديل الشركة
												</span>
											</button>
											<button class="btn btn-primary col-md-3 mx-1" (click)="setCompanyIdGettingBranches(company.id) ">
												<span class="fontForInputs">
													عرض الفروع
												</span>
											</button>
											

										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<table class="table"  style="width:100% ;">
												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">الكود</th>
													<td style="padding: 10px;">{{company.code}}</td>
												</tr>
												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">عدد المستخدمين</th>
													<td style="padding: 10px;">{{company.mobileUserNumber}}</td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">العنوان</th>
													<td style="padding: 10px;">{{company.address}}</td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">المحافظة</th>
													<td style="padding: 10px;">{{company.state}}</td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">المنطقة</th>
													<td style="padding: 10px;">{{company.region}} </td>
												</tr>
											</table>
										</div>

										<div class="col-md-6">

											<table class="table" style="width:100% ;">


												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">التليفون</th>
													<td style="padding: 10px;">{{company.phoneNumber}} </td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">الايميل</th>
													<td style="padding: 10px;">{{company.email}} </td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">اسم المسؤول</th>
													<td style="padding: 10px;">{{company.managerName}} </td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;"> المسمى الوظيفى</th>
													<td style="padding: 10px;">{{company.managerPosition}} </td>
												</tr>

												<tr style="border-bottom:1px dotted #5a5a5a ;">
													<th style="padding: 10px;font-weight: bold;">نشط</th>
													<td style="padding: 10px;">

														<div class="d-flex justify-content-center align-items-center">
															<div *ngIf="company.isActive==true; else xcross;">
																<i class="fa fa-check" aria-hidden="true"></i>
															</div>
	
															<ng-template #xcross>
																<i class="fa fa-xmark" aria-hidden="true"></i>
															</ng-template>
	
															<span class="mx-2">
																<section matTooltip="{{company.isActive==true?'ايقاف التفعيل':'تفعيل'}}"
																	class="example-section">
																	<mat-slide-toggle name="isValTaxActive" class="example-margin" [color]="'red'"
																		(click)="activeCompany()" [checked]="company.isActive">
																	</mat-slide-toggle>
																</section>
															</span>
														</div>
														
													</td>
												</tr>


											</table>
										</div>
									</div>


								</div>

							</div>

						</div>


					</div>


					<div class="row" *ngIf="companyIdForShowingBranches != 0">
						<branchs-c [companyId] = "companyIdForShowingBranches"></branchs-c>
					</div>


				</mat-expansion-panel>
			</mat-accordion>






		</div>
	</div>

</section>