<section class="row">

  <div class="col-md-12 overflow-auto mat-elevation-z8">

    <p-table [value]="complainData" responsiveLayout="scroll" [loading]="loading" class="removepadding">

      <ng-template pTemplate="caption">
        <div class="row mx-0 mb-2  justify-content-end">
          <div class="col">
            <span class="p-input-icon-left">
              <button class="buttonsearch" (click)="myfilter('branch')"><i class="pi pi-search"></i></button>
              <input type="text" pInputText placeholder="{{'OPERATION.INPUTS.CUSTOMERCODE'|translate}}"
                [(ngModel)]="searchObject.customerCode">
            </span>
          </div>
          <div class="col justify-content-end d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success mx-1"
              (click)="exportExcel()" pTooltip="XLS" tooltipPosition="bottom"></button>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="row mx-0">
          <div class="col">
            <p-dropdown [options]="branchDropdown" appendTo="body" optionLabel="Name" (onChange)="myfilter('branch')"
              placeholder="{{'OPERATION.INPUTS.BRANCH'|translate}}" [showClear]="true"
              [(ngModel)]="searchObject.branchId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="areaDropdown" appendTo="body" optionLabel="Name" (onChange)="myfilter('area')"
              placeholder="{{'OPERATION.INPUTS.AREA'|translate}}" [showClear]="true" [(ngModel)]="searchObject.areaId">
            </p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="blockDropdown" appendTo="body" optionLabel="Name" (onChange)="myfilter('block')"
              placeholder="{{'OPERATION.INPUTS.BLOCK'|translate}}" [showClear]="true"
              [(ngModel)]="searchObject.blockId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="customerDropdown" appendTo="body" optionLabel="Name" (onChange)="myfilter('')"
              placeholder="{{'OPERATION.INPUTS.CUSTOMET'|translate}}" [showClear]="true"
              [(ngModel)]="searchObject.customerId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="collectorDropdown" appendTo="body" optionLabel="Name" (onChange)="myfilter('')"
              placeholder="{{'OPERATION.INPUTS.EMPLOYEE'|translate}}" [showClear]="true"
              [(ngModel)]="searchObject.employee_id"></p-dropdown>
          </div>
          <div class="col">
            <p-calendar [showIcon]="true" inputId="icon" appendTo="body" dir="ltr"
              placeholder="{{'OPERATION.INPUTS.STARTDATE'|translate}}" [(ngModel)]="searchObject.readingStartDate"
              (onSelect)="myfilter('')">
            </p-calendar>
          </div>
          <div class="col">
            <p-calendar [showIcon]="true" inputId="icon" appendTo="body" dir="ltr"
              placeholder="{{'OPERATION.INPUTS.ENDDATE'|translate}}" [(ngModel)]="searchObject.readingEndDate"
              (onSelect)="myfilter('')">
            </p-calendar>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center">{{'OPERATION.TITLES.BRANCHNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.AREANAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.BLOCKNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.COLLECTORNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.CUSTOMERNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.DATE'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.ISSUENAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.DETAILS'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.COMPLAINTYPE'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.IMAGE'|translate}}</th>
          <th class="text-center">
            <div class="d-flex align-items-center">
              <input class="form-check-input me-3 w-40px" name="user_role" type="checkbox"
                id="kt_modal_update_role_option_0" [(ngModel)]="btnIsRevise"
                (change)="setAllIsPostOrIsRevise('revise')" />
              <button pButton pRipple type="button" [disabled]="!btnIsRevise"
                label="{{'OPERATION.BUTTONS.REVISED'|translate}}" (click)="postAllDataToChecked()"
                class="p-button-rounded p-button-info p-1" styleClass="p-button-sm"></button>
            </div>
          </th>
          <th class="text-center"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-complain>
        <tr>
          <td>{{complain.BranchName}}</td>
          <td>{{complain.AreaName}}</td>
          <td>{{complain.BlockName}}</td>
          <td>{{complain.CollectorName}}</td>
          <td>{{complain.CustomerName}}</td>
          <td>{{complain.Date|date:'dd/MM/yyyy'}}</td>
          <td>{{complain.IssueName}}</td>
          <td>{{complain.Details }}</td>
          <td>{{complain.ComplaintTypeName}}</td>
          <td>
            <button mat-icon-button color="accent" (click)="openDialog(complain)">
               <mat-icon style="font-size: 22px;">visibility</mat-icon>
            </button>
          </td>
          <td>
            <input class="form-check-input me-3" name="user_role" type="checkbox" id="kt_modal_update_role_option_0"
              [checked]="complain.IsRevised" [(ngModel)]="complain.IsRevised" />
          </td>

          <td>
            <a mat-mini-fab color="primary" (click)="ActivePostOrRevise(complain)" id="search" type="submit"
              class="mx-10">
              <mat-icon style="font-size: 20px;">edit</mat-icon>
            </a>
          </td>
        </tr>
      </ng-template>

      <!-- Start Pagenation -->
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="12">
            <p-paginator dropdownAppendTo="body" [rows]="5" [totalRecords]="totalRecords"
              (onPageChange)="changePage($event)" [rowsPerPageOptions]="[10,30,50,100]"></p-paginator>
          </td>
        </tr>
      </ng-template>
      <!-- End Pagenation -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11" class="text-center">{{'EMPLOYEE.MESSAGE.NOROWFOUND'|translate}}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</section>