<section class="row">

  <div class="col-md-12 overflow-auto mat-elevation-z8">

    <p-table [value]="readingData" responsiveLayout="scroll" [loading]="loading">

      <ng-template pTemplate="caption">
        <div class="row mx-0 mb-2  justify-content-end">
          <div class="col">
            <span class="p-input-icon-left">
              <button class="buttonsearch" (click)="myfilter('branch')"><i class="pi pi-search"></i></button>
              <input type="text" pInputText placeholder="{{'OPERATION.INPUTS.CUSTOMERCODE'|translate}}" [(ngModel)]="searchObject.customerCode">
            </span>
          </div>
          <div class="col justify-content-end d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success mx-1"
              (click)="exportExcel()" pTooltip="XLS" tooltipPosition="bottom"></button>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="row mx-0">
          <div class="col">
            <p-dropdown [options]="branchDropdown"  appendTo="body" optionLabel="Name"
              (onChange)="myfilter('branch')" placeholder="{{'OPERATION.INPUTS.BRANCH'|translate}}" [showClear]="true" [(ngModel)]="searchObject.branchId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="areaDropdown"  appendTo="body" optionLabel="Name"
              (onChange)="myfilter('area')" placeholder="{{'OPERATION.INPUTS.AREA'|translate}}" [showClear]="true" [(ngModel)]="searchObject.areaId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="blockDropdown"  appendTo="body" optionLabel="Name"
              (onChange)="myfilter('block')" placeholder="{{'OPERATION.INPUTS.BLOCK'|translate}}" [showClear]="true" [(ngModel)]="searchObject.blockId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="customerDropdown"  appendTo="body" optionLabel="Name"
              (onChange)="myfilter('customer')" placeholder="{{'OPERATION.INPUTS.CUSTOMET'|translate}}" [showClear]="true" [(ngModel)]="searchObject.customerId"></p-dropdown>
          </div>
          <div class="col">
            <p-dropdown [options]="collectorDropdown"  appendTo="body" optionLabel="Name"
              (onChange)="myfilter('employee')" placeholder="{{'OPERATION.INPUTS.EMPLOYEE'|translate}}" [showClear]="true" [(ngModel)]="searchObject.employee_id"></p-dropdown>
          </div>
          <div class="col">
            <p-calendar [showIcon]="true" inputId="icon" #st [maxDate]="end.value" appendTo="body" dir="ltr" (onSelect)="myfilter('')"
            placeholder="{{'OPERATION.INPUTS.STARTDATE'|translate}}" [(ngModel)]="searchObject.readingStartDate">
            </p-calendar>
          </div>
          <div class="col">
            <p-calendar [showIcon]="true" inputId="icon" #end [minDate]="st.value" appendTo="body" dir="ltr" (onSelect)="myfilter('')"
            placeholder="{{'OPERATION.INPUTS.ENDDATE'|translate}}" [(ngModel)]="searchObject.readingEndDate">
            </p-calendar>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center">{{'OPERATION.TITLES.COLLECTORNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.CUSTOMERNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.CUSTOMERCODE'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.BRANCHNAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.VALUE'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.LASTREADING'|translate}} </th>
          <th class="text-center">{{'OPERATION.TITLES.IMAGE'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.METERSTATUS'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.ISSUENAME'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.ISSUESTATUS'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.ISSUEDATE'|translate}}</th>
          <th class="text-center">{{'OPERATION.TITLES.NOTES'|translate}} </th>
          <th class="text-center">
            <div class="d-flex align-items-center">
              <input class="form-check-input me-3 w-40px" name="user_role" type="checkbox"
                id="kt_modal_update_role_option_0" [(ngModel)]="btnIsRevise"
                (change)="setAllIsPostOrIsRevise('revise')" />
              <button pButton pRipple type="button" [disabled]="!btnIsRevise" label="{{'OPERATION.BUTTONS.REVISED'|translate}}"
                (click)="postAllDataToChecked()" class="p-button-rounded p-button-info p-1"
                styleClass="p-button-sm"></button>
            </div>
          </th>
          <th class="text-center">
            <div class="d-flex align-items-center">
              <input class="form-check-input me-3 w-40px" name="user_role" type="checkbox"
                id="kt_modal_update_role_option_0" [(ngModel)]="btnIsPost" (change)="setAllIsPostOrIsRevise('post')" />
              <button pButton pRipple type="button" [disabled]="!btnIsPost" label="{{'OPERATION.BUTTONS.POSTED'|translate}}"
                (click)="postAllDataToChecked()" class="p-button-rounded p-button-success p-1"
                styleClass="p-button-sm"></button>
            </div>
          </th>
          <th class="text-center"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-read>
        <tr>
          <td>{{read.CollectorName}}</td>
          <td>{{read.CustomerName}}</td>
          <td>{{read.CustomerCode}}</td>
          <td>{{read.BranchName}}</td>
          <td>{{read.Value}}</td>
          <td>{{read.LastReading }}</td>
          <td><img [src]="read.ReadingImagePath!=''?read.ReadingImagePath:'assets\\media\\avatars\\300-1.jpg'" [alt]="read.CustomerName" width="150" height="50" /></td>
          <td>{{read.MeterStatus}}</td>
          <td>{{read.IssueName}}</td>
          <td>{{read.IssueStatus}}</td>
          <td>{{read.IssueDate|date:'dd/MM/yyyy'}}</td>
          <td>{{read.Notes }}</td>
          <td>
            <input [disabled]="read.lastPosted" class="form-check-input me-3" name="user_role" type="checkbox"
              id="kt_modal_update_role_option_0" [checked]="read.IsRevised" [(ngModel)]="read.IsRevised" />
          </td>

          <td>
            <input [disabled]="read.lastPosted" class="form-check-input me-3" name="user_role" type="checkbox"
              id="kt_modal_update_role_option_0" [checked]="read.IsPotsed" [(ngModel)]="read.IsPotsed" />
          </td>

          <td>
            <a mat-mini-fab color="primary" *ngIf="!read.lastPosted" (click)="ActivePostOrRevise(read)" id="search"
              type="submit" class="mx-10">
              <mat-icon style="font-size: 20px;">edit</mat-icon>
            </a>
            <div *ngIf="read.lastPosted">
              <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-success"
                style="cursor: auto;"></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- Start Pagenation -->
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="12">
            <p-paginator dropdownAppendTo="body" [rows]="5" [totalRecords]="totalRecords"
              (onPageChange)="changePage($event)" [rowsPerPageOptions]="[10,30,50,100]"></p-paginator>
          </td>
        </tr>
      </ng-template>
      <!-- End Pagenation -->

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="11" class="text-center">{{'OPERATION.MESSAGE.NOROWFOUND'|translate}}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</section>