/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style";

// Replace above style with this SCSS file to enable dark mode styles
//@import "./assets/sass/style.dark";

@import "./assets/sass/style.angular.scss";


body{
font-family: 'Cairo' !important;font-size: 22px !important;
}
 

.fullWidth{
	width: 100%;
	padding: 0px;
	margin: 0px;
}


button,mat-form-field{
	width: 100%;
	font-family: 'Cairo' !important;font-size: 14px !important;
}

input{
	font-family: 'Cairo' !important;font-size: 14px !important;
}

th
{
	font-family: 'Cairo' !important;font-size: 14px !important;
}

/* Structure */
table {
	width: 100%;
  }
  
  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }

.fontsection
{
	font-family: 'Cairo' !important;font-size: 22px !important;
}
.fontForInputs
{
	font-family: 'Cairo' !important;font-size: 14px !important;
}

.Success.mat-snack-bar-container{
	background-color: rgb(40, 255, 40) ;
	color: white;
}

.Error.mat-snack-bar-container{
	background-color: rgb(255, 10, 10) ;
	color: white;
}

.Warning.mat-snack-bar-container{
	background-color: rgb(253, 75, 200) ;
	color: white;
}

