

<section class="fontsection">

<mat-card>

	<mat-card-title>

		<span class="fontsection">
          {{"HR.TITLES.ADDORUPDATE" | translate}}
		</span>
		
        
	</mat-card-title>

	<mat-divider></mat-divider>

<form [formGroup]="UpsertForm" (ngSubmit)="Submit(UpsertForm.value)">

	<input type="hidden" formControlName="Id" name="Id">
	
	<div class="row mt-7">

	  <div class="col-md-3">

		  <mat-form-field appearance="outline">
			<mat-label class="fontForInputs"> {{"HR.INPUTS.NAME" | translate}}</mat-label>
			<input matInput formControlName="Name" name="Name">
			<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			
			<mat-hint> 
				{{messageErrors}}
				<ng-container
				[ngTemplateOutlet]="formError"
				[ngTemplateOutletContext]="{
				  validation: 'required',
				  message: 'AUTH.VALIDATION.REQUIRED' | translate : {name:'HR.INPUTS.NAME' | translate},
				  control: UpsertForm.controls['Name']
				}"
			  ></ng-container>

			</mat-hint>

		  </mat-form-field>

	  </div>

	  <div class="col-md-1" *ngIf="toggleAddEditButton">
		<button type="submit" mat-raised-button [disabled]="!UpsertForm.valid" color="primary" class="mt-3">{{"HR.BUTTONS.ADD" | translate}}</button>
	  </div>
	
	  <div class="col-md-1" *ngIf="!toggleAddEditButton">
		<button type="submit" mat-raised-button [disabled]="!UpsertForm.valid" color="primary" class="mt-3">{{"HR.BUTTONS.EDIT" | translate}}</button>
	  </div>

	  <div class="col-md-1" *ngIf="!toggleAddEditButton">
		<button mat-raised-button color="accent" [disabled]="!UpsertForm.valid" (click)="closeEdit()" class="mt-3">{{"HR.BUTTONS.CLOSE" | translate}}</button>
	  </div>

	</div>


</form>

</mat-card>

</section>



<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>