

<div class="row gap-10 mt-10">

	<div class="col-md-12 rounded-4 alert alert-primary d-flex justify-content-center align-items-center">
		<mat-icon color="warn" style="font-size:30px;">perm_identity</mat-icon>
		<span routerLink="" routerLink="/employee/employeeprofile" class="fontsection cursorpointer text-primary">بيانات الموظفين</span>
	</div>

	<div class="col-md-12 rounded-4 alert alert-primary  d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">supervisor_account</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/customer/cutomerprofile">بيانات العملاء</span>
	</div>

	<div class="col-md-12 rounded-4 alert alert-primary d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">mode_edit</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/cutomerupdatemanage"> ادارة تعديلات العملاء </span>
	</div>

	<div class="col-md-212 rounded-4 alert alert-primary d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">article</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/customerbills"> الفواتير</span>
	</div>

	
	<div class="col-md-2 rounded-4 alert alert-primary d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">article</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/readinglist">القراءات </span>
	</div>

	
	<div class="col-md-2 rounded-4 alert alert-primary  d-flex justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">article</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/compainType"> انواع الشكاوى</span>
	</div>

	<div class="col-md-2 rounded-4 alert alert-primary d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">article</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/complainlist">  الشكاوى</span>
	</div>


	
	<div class="col-md-2 rounded-4 alert alert-primary d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">article</mat-icon>
		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/issue"> الاصدارات</span>
	</div>

	<div class="col-md-2 rounded-4 alert alert-primary d-flex  justify-content-center align-items-center">
		<mat-icon  color="warn" style="font-size:30px;">download</mat-icon>

		<span class="fontsection cursorpointer  text-primary" routerLink="/operation/receivedata"> سحب البيانات</span>
	</div>

	
</div>